.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px 30px;
}

.logo {
  width: 120px;
}

.logo img {
  width: 100%;
  height: auto;
}

.nav-items {
  padding: 0 20px;
}

.nav-items > ul {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-items > ul > li {
  padding: 8px 14px;
  margin: 0 6px;
  cursor: pointer;
}

.nav-items > ul > li:hover {
  text-decoration: underline;
}

.search {
  padding: 15px 30px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  background-color: ivory;
  width: 220px;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
